.stateActive {
  color: black;
  font-weight: 700;
  font-size: large;
}

.stateNotActive {
  color: black;
  font-size: large;
}

.nav {
  font-family: "Acme";
}

.navActive::after {
  content: "";
  height: 0.15rem;
  border-radius: 1rem;
  background-color: black;
  transform: translateY(0.2rem);
  filter: drop-shadow(0 -0.3rem 0.4rem white);
  animation: drawLine 0.3s forwards;
}

@keyframes drawLine {
  from {
    width: 0; /* Start with width 0 */
  }
  to {
    width: 100%; /* End with full width */
  }
}
.navActiveServices::after {
  content: "";
  height: 0.25rem;
  border-radius: 1rem;
  transform: translate(1.25rem, 1rem) !important;
  background-color: #f5a524;
  max-width: 6rem;
  filter: drop-shadow(0 -0.3rem 0.4rem #f5a524);
}

.logo {
  justify-content: center !important;
}

.ribbon {
  background-color: #e9ecef;
  border: 3px solid black;
}

.slant-down {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 50% 100%, 0 calc(100% - 30px));
}

.left-ribbon-border {
  position: absolute;
  height: 7px;
  width: 100%;
  left: -1rem;
  rotate: 25deg;
  background-color: black;
  top: 15.5rem;
}

.right-ribbon-border {
  position: absolute;
  height: 7px;
  width: 100%;
  right: -1rem;
  rotate: -25deg;
  background-color: black;
  top: 15.5rem;
}
